<div class="container-fluid">
    <h2 class="text-center">CREATE A QUOTE</h2>
    <hr>
    <form #goalForm='ngForm' (ngSubmit)='submitQuote()'>
        <div class="form-group">

            <label for="name">AUTHOR</label>
            <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author"
                #author='ngModel' required>
        </div>
        <div class="form-group">

            <label for="quote">QUOTE</label>
            <textarea class="form-control" id="quote" rows="4" [(ngModel)]="newQuote.quote" name="quote"
                #quote='ngModel' required></textarea>
        </div>
        <div class="form-group">

            <label for="name">SUBMITTED BY</label>
            <input type="text" class="form-control" id="submitter" [(ngModel)]="newQuote.submitter" name="submitter"
                #submitter='ngModel' required>
        </div>
        <button type="submit">ADD QUOTE</button>
    </form>
</div>