<div class="container-fluid">
    <h2 class="text-center">CREATE A QUOTE</h2>
    <hr>
    <form #goalForm='ngForm' (ngSubmit)='submitQuote()'>
        <div class="form-group">

            <label for="name">NAME</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel'
                required>
        </div>
        {{newQuote.name}}
        <div class="form-group">

            <label for="quote">QUOTE</label>
            <textarea class="form-control" id="quote" rows="4" [(ngModel)]="newQuote.quote" name="quote"
                #quote='ngModel' required></textarea>
        </div>
        <div>
            <label for="date">Created on</label>
            <input type='date' id="created" [(ngModel)]="newQuote.completeDate" name="completeDate"
                #completeDate="ngModel" required>
        </div>
        <button type="submit">ADD QUOTE</button>
    </form>
</div>