<div class="container">
    <h1>Vote on it</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
        <div class="col-md-6">
            <div *ngFor='let quote of quotes;let i = index'>
                <h2> {{quote.quote}}</h2>
                <button (click)='toggleDetails(i)'>DETAILS</button>
                <app-quote-details *ngIf='quote.showDetails' [quote]='quote' (isComplete)='deleteQuote($event,i)'>
                </app-quote-details>
            </div>
        </div>
    </div>
</div>