<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">QUOTE IT</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#quoteForm">Quote Form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#quotees">Quotes</a>
        </li>
    </ul>
</nav>
<div class="jumbotron">
    <h1>QUOTE IT</h1>
    <p>"Quote it" is an application where users can create quotes and have those quotes voted on whether they are
        terrible or are inspirational. Users can also vote on already existing quotes.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 border border-dark" id="quoteForm">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
        <div class="col-md-6 " id="quotees">
            <h2 class="text-center">QUOTES</h2>
            <div *ngFor='let quote of quotes;let i = index'>
                <h2> {{quote.quote}}</h2>
                <button (click)='toggleDetails(i)' class="btn btn-info">DETAILS</button>
                <div class="border border-dark">
                    <app-quote-details *ngIf='quote.showDetails' [quote]='quote' (isComplete)='deleteQuote($event,i)'>
                    </app-quote-details><br>
                    <h4 *ngIf='quote === highestUpVote()' appHighlight>{{quote.quote}}</h4>
                    <button (click)='addUpVote(i)' class="btn btn-success">UpVote</button>

                    <button (click)='addDownVote(i)' class="btn btn-danger">DownVote</button>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>